/graficos2.ipynb
/knn.ipynb
/pipe.ipynb
/proj_int_final.ipynb
/sql-teste.ipynb
/venv
modelo-de-relatorio-final_1.ipynb
espec-proj-final.pdf
Lógico_1.sql
projeto_BD.ipynb
Relatório_Naive_Bayes.ipynb
teste_italo.ipynb
predicao_nb.sav
perola.ipynb
Relatório_Árvore de Decisão (2).ipynb
